* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.hide {
    display: none !important;
}

.wrap {
    margin: 0 auto;
    max-width: 1160px;
    width: 95%;
}

.header {
    padding: 1.8rem 0 1.56rem;
}

.header__wrap {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.header__logo {
    max-width: 11.3rem;
    width: 100%;
    height: 1.7rem;
    grid-column: 2;
    justify-self: center;
}

.header__search {
    grid-column: 3;
    justify-self: end;
}

.header__search-btn {
    background: url('images/search-icon.svg') no-repeat center / contain;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
}

.header__search-form-input {
    padding: 0.3rem 0.6rem;
    border: 1px solid #e9e9e9;
    font-size: 0.75rem;
}

.header__search-form-input::placeholder {
    color: #929292;
}

.menu {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1.3rem 0 0;
    transition: transform 0.3s ease;
    background: white;
}

.menu::after, .menu::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
}

.menu::before {
    top: 0;
}

.menu::after {
    bottom: 0;
}

.menu.hidden {
    transform: translateY(-100%);
}

.menu__links {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    list-style-type: none;
}

.menu__links-item {
    padding-bottom: 1.2rem;
    position: relative;
    cursor: pointer;
}

.menu__links-item:not(:last-of-type) {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.menu__links-item:not(:last-of-type)::after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20viewBox%3D%220%200%2010%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1%201L5%205L9%201%22%20stroke%3D%22black%22%20stroke-linecap%3D%22square%22/%3E%3C/svg%3E");
}

.menu__submenu {
    padding: 0.75rem 1.25rem 0.7rem;
    position: absolute;
    top: 100%;
    display: none;
    width: 11rem;
    list-style: none;
    background-color: #fff;
    border: 1px solid #e9e9e9;
}

.menu__links-item:hover .menu__submenu {
    display: block;
}

.menu__submenu-item {
    position: relative;
    padding: 0.5rem 0 0.56rem;
    display: block;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 100%;
    color: #000;
}

.menu__submenu-item:hover {
    color: #969696;
    padding-left: 0.5rem;
}

.menu__submenu-item:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e9e9e9;
}

.menu__submenu-item::before {
    content: "";
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    height: 8px;
    width: 5px;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833344 7.2L4.16668 4L0.833344 0.799997' stroke='black' stroke-linecap='square'/%3E%3C/svg%3E");
}

.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    background: rgba(0, 0, 0, 0.4);
    z-index: 200;
}

.mobile-menu__panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 20rem;
    width: 100%;
    background: #fff;
    transform: translateX(-100%);
    transition: 0.3s ease;
}

.mobile-menu.active {
    visibility: visible;
    opacity: 1;
}

.mobile-menu.active .mobile-menu__panel {
    transform: translateX(0);
}

.header__burger {
    display: none;
    background: none;
    border: none;
    width: 28px;
    height: 20px;
    background: url('images/burger-icon.svg') no-repeat center / contain;
    cursor: pointer;
}

.mobile-menu__links {
    list-style-type: none;
    padding: 1.1rem 1.25rem 1.25rem;
}

.mobile-menu__links-item {
    padding: 1.05rem 0;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    color: #000;
    cursor: pointer;
}

.mobile-menu__links-item:not(:last-of-type)::after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20viewBox%3D%220%200%2010%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1%201L5%205L9%201%22%20stroke%3D%22black%22%20stroke-linecap%3D%22square%22/%3E%3C/svg%3E");
}

.mobile-menu__links-item:not(:last-of-type)::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e9e9e9;
}

.mobile-menu__logo {
    display: block;
    max-width: 10rem;
    width: 100%;
    height: 1.5rem;
}

.mobile-menu__header {
    position: relative;
    padding: 2rem 1.25rem 1.6rem;
}

.mobile-menu__header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
}

.mobile-menu__close {
    position: absolute;
    top: 2.2rem;
    right: 1.25rem;
    width: 20px;
    height: 20px;
    border: none;
    background: url('images/close-icon.svg') no-repeat center / contain;
    cursor: pointer;
}

.posts__wrap {
    padding: 3rem 0 10.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 40px;
}

.posts__item {
    max-width: 22.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.posts__item-tag {
    display: block;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 100%;
    color: #eb0028;
}

.posts__item-title {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 138%;
    color: #000;
}

.posts__item-info {
    display: inline-flex;
    align-items: center;
}

.posts__item-author {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 100%;
    color: #000;
    text-decoration: none;
}

.posts__item-date, .posts__item-views {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 100%;
    color: #9b9b9b;
}

.posts__item-views {
    gap: 4px;
}

.posts__item-date::before, .posts__item-views::before {
    content: "";
    margin: 0 0.3rem;
    display: inline-block;
    width: 3px;
    height: 3px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3' viewBox='0 0 3 3'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='%23D7D7D7'/%3E%3C/svg%3E") no-repeat center / contain;
}

.posts__item-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 143%;
    color: #929292;
    letter-spacing: 0.1px;
}

.popup {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.popup__wrap {
    position: relative;
    padding: 2.5rem 1.25rem;
    max-width: 18.75rem;
    width: 100%;
    background-color: #fff;
}

.popup__close-btn {
    position: absolute;
    right: 0.6rem;
    top: 0.6rem;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}

.popup__title {
    margin: 0 0 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 140%;
}

.popup__text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 143%;
    letter-spacing: 0.1px;
}

@media (max-width: 992px) {
    
    .header__burger {
        display: block;
    }

    .menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .wrap {
        width: 90%;
    }

    .posts__wrap {
        padding: 0.5rem 0 2rem;
        gap: 30px 40px;
    }

    .posts__item-img {
        height: 14.4rem;
    }

    .header {
        padding: 2rem 0 1.86rem;
    }

    .header__wrap {
        position: relative;
    }

    .header__logo {
        max-width: 10rem;
        width: 100%;
        height: 1.5rem;
    }

    .header__search-form {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
}